:root{
    --color-primary-button-backgroud-light: #d2453e;
    --color-primary-button-text-light: #fdfdfd;
    --color-primary-button-backgorud-light: #2e2e36;
    --color-primary-overlay-light-1: #eeeeee;
    --color-primary-button-backgroud-dark: #bc4444;
}

/* seccion 1 */
.init--info-section{
    background-image: url('https://lh6.googleusercontent.com/O5yKOLkkZbxlGPLzATTlQpukFUSHExDQaVFxl53bErHDmuU2kGp2OXLx4Caa7Y7WkHE=w2400');
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.init--info-section p{
    color: white;
    font-size: 2.8rem;
    text-align: center;
    font-weight: 700;
    padding:  0 12px 50px;
    text-transform: uppercase;
}
/* Seccion 2 */
.info-categorias-content{
    width: 100%;
    min-width: 320px;
    padding-top: 15px;
}
.info-categorias-content h2{
    padding-left: 18px;
    font-size: 2.4rem;
    font-weight: 500;
    color: rgb(49, 48, 48);
    margin-top: 18px;
    margin-bottom: 10px;
}
.popular-categories{
    width: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popular-categories a{
    margin: 8px 0;
    display: flex;
    width: 90%;
    height: 200px;
    color: white;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: bold;
    align-items: end;
    padding: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 4px;
}
.popular-categories  a:nth-child(1){
    background-image: url('https://lh6.googleusercontent.com/z6iOiqqd259twlXJ486Yg5Eq_3K-_lqi4Bei_ck63PYz7S_-EwO8_3CEj9iqynVru84=w2400');
    background-size: cover;
    background-repeat: no-repeat;
}
.popular-categories  a:nth-child(2){
    background-image: url('https://lh6.googleusercontent.com/bSCCGSqVpmHMyYNAR16nElsy04fWL1xL4OhpbtAOYPCQfi0_75Aj9bWeCisM2ELyIu8=w2400');
    background-size: cover;
    background-repeat: no-repeat;
}.popular-categories  a:nth-child(3){
    background-image: url('https://lh3.googleusercontent.com/KY2lLm9bzgJEt9EZ1yoJZoHZsPdyBdNE0H6QwXcTho7sr39F9Tqouyx_moon960MIF8=w2400');
    background-size: cover;
    background-repeat: no-repeat;
}
/* seccion -> Porque Elegirnos */
.eleccion-container{
    background-color: var(--color-primary-button-backgorud-light);
    width: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
}
.eleccion-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.eleccion-title h2{
    color: var(--color-primary-button-text-light);
    padding: 14px 0;
    font-size: 2.1rem;
}
.eleccion-title p{
    color: var(--color-primary-button-text-light);
    width: 80%;
    font-size: 1.6rem;
}
.eleccion-info{
    margin: 20px 0;
}
.eleccion-info article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.eleccion-info article img{
    width: 70px;
    margin: 10px 0;
}
.eleccion-info article p{
    color: var(--color-primary-button-text-light);
}
.eleccion-info article p:nth-child(2){
    font-weight: bold;
    font-size: 1.6rem;
}
.eleccion-info article p:nth-child(3){
    font-size: 1.4rem;
    width: 70%;
}
/* ads */
.ads-container{
    width: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}
.ads-container div{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 15px 0;
}
.ads-container div img{
    width: 90%;
} 
/* Contacta Con nosotros */
.contactos-container{
    background-color: var(--color-primary-button-backgroud-dark);
    width: 100%;
    min-width: 320px;
    color: var(--color-primary-button-text-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.contactos-container h2{
    margin: 16px 0;
    font-size: 2.1rem;
}
.contactos-container h3{
    font-size: 1.6rem;
    font-weight: 500;
    width: 80%;
    /* margin-bottom: 8px; */
}
.contactos-container button{
    height: 40px;
    width: 180px;
    margin: 21px 0;
    background-color: var(--color-primary-button-backgorud-light);
    border: none;
    border-radius: 4px;
}
.contactos-container button a{
    color: var(--color-primary-button-text-light);
    text-decoration: none;
    font-weight: bold;
}

/* responsive Design */

@media (min-width: 1024px){
    .info-categorias-content h2{
        font-size: 2.6rem;
    }
    .popular-categories{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .popular-categories a{
        width: 560px;
        height: 420px;
        margin: 30px 25px;
    }
    .eleccion-info{
        display: flex;
    }
    .contactos-container h2{
        font-size: 3.8rem;
    }
    .contactos-container h3{
        font-size: 2.2rem;
    }
    .contactos-container button{
        font-size: 1.6rem;
        width: 260px;
        height: 55px;
    }
    .ads-container{
        width: 100%;
        min-width: 320px;
        display: flex;
        flex-direction: row;
    }
    .ads-container div{
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 15px 0;
    }
    .ads-container div img{
        width: 80%;
    } 
}





