*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: var(--color-primary-button-text-light);
}
:root{
    --color-primary-button-backgroud-light: #d2453e;
    --color-primary-button-text-light: #fdfdfd;
    --color-primary-button-backgorud-light: #2e2e36;
    --color-primary-overlay-light-1: #eeeeee;
    --color-primary-button-backgroud-dark: #bc4444;
}
/* header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-primary-button-backgorud-light);
}
header #header-main{
    display: flex;
    justify-content: center;
}
header #header-main img{
    width: 90px;
    margin-top: 15px;
}
header .info--span-header{
    width: 100%;
    height: 32px;
    min-width: 320px;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 8px;
    background-color: var(--color-primary-button-backgroud-light);
    color: var(--color-primary-button-text-light);
}
nav{
    margin: 14px 0;
}   
nav ul li{
    list-style: none;
    display: inline;
    padding: 0 12px;
    font-size: 1.6rem;
}
nav a{
    color: var(--color-primary-button-text-light);
    text-decoration: none;
}
/* footer */
footer{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    background-color: var(--color-primary-button-backgorud-light);
    padding: 0 25px;
}
footer img{
    width: 90px;
    margin-top: 15px;
}
footer a{
    color: var(--color-primary-button-text-light);
    text-decoration: none;
    font-size: 1.4rem;
}
footer li{
    list-style: none;
    padding: 10px 0;
}
footer h3{
    color: var(--color-primary-button-backgroud-light);
    font-size: 1.6rem;
    padding: 14px 0;
}
.pie-container-info{
    text-align: center;
    border-top: solid 2px gray;
    margin-top: 35px;
}
.pie-container-info p{
    color: var(--color-primary-button-text-light);
    font-size: 1.2rem;
    margin-top: 20px;
}
.pie-container-info span{
    color: var(--color-primary-button-text-light);
    margin: 10px 0;
    display: block;
    font-size: 1.2rem;
}

@media (min-width: 1024px){
    header .info--span-header{
        font-size: 1.4rem;

    }
    .init--info-section p{
        font-size: 3.6rem;
    }
    .nav-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 100px;
        align-items: center;
    }
    .nav-container nav ul li a{
        font-size: 1.8rem;
    }
    header #header-main img{
        width: 100px;
        margin: 10px 0;
    }

    footer img{
        margin-left: 35px;
        margin-top: 15px;
    }
    footer .info--footer-links{
        display: flex;
        justify-content: space-around;
    }
}




